@font-face {
    font-family: 'stellarregular';
    src: url('/assets/fonts/stellar-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/stellar-regular-webfont.woff') format('woff'),
         url('/assets/fonts/stellar-regular-webfont.otf') format('opentype'),
         url('/assets/fonts/stellar-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarmedium';
    src: url('/assets/fonts/stellar-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/stellar-medium-webfont.woff') format('woff'),
         url('/assets/fonts/stellar-medium-webfont.otf') format('opentype'),
         url('/assets/fonts/stellar-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarlight';
    src: url('/assets/fonts/stellar-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/stellar-light-webfont.woff') format('woff'),
         url('/assets/fonts/stellar-light-webfont.otf') format('opentype'),
         url('/assets/fonts/stellar-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarbold';
    src: url('/assets/fonts/stellar-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/stellar-bold-webfont.woff') format('woff'),
         url('/assets/fonts/stellar-bold-webfont.woff.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
