@font-face {
    font-family: 'moon_bold';
    src: url('/assets/fonts/moon2.0-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/moon2.0-bold-webfont.woff') format('woff'),
         url('/assets/fonts/moon2.0-bold-webfont.otf') format('opentype'),
         url('/assets/fonts/moon2.0-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'moon_light';
    src: url('/assets/fonts/moon2.0-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/moon2.0-light-webfont.woff') format('woff'),
         url('/assets/fonts/moon2.0-light-webfont.otf') format('opentype'),
         url('/assets/fonts/moon2.0-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'moon_regular';
    src: url('/assets/fonts/moon2.0-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/moon2.0-regular-webfont.woff') format('woff'),
         url('/assets/fonts/moon2.0-regular-webfont.otf') format('opentype'),
         url('/assets/fonts/moon2.0-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
