nav {
    background-color: $primary-color;
    margin: 0;
    overflow: hidden;
    padding: 2% 4%;
    display: flex;
    flex-direction: row;

    @media only screen and (min-width: $s-breakpoint) {
    }

    ul {
      text-align: center;
    }

    li {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        line-height: 1;
        letter-spacing: 1px;
        padding: 10px 0 0;
        min-width: 60px;
        @media only screen and (min-width: $s-breakpoint) {
            padding: 20px 0 0;
            min-width: 80px;
        }
    }

    a {
      color: $dark-text;
      text-decoration: none;
    }
  }

  .logo {
      text-align: left;
      font-size: 18px;
      letter-spacing: 1px;
      margin: 0;
      padding: 10px 0;

      &:hover {
          @include grad-text($start-color, $middle-color, $end-color, $fallback-color);
      }

      @media only screen and (min-width: $s-breakpoint) {
          font-size: 20px;
      }
  }

  .navigation {
      text-align: center;
      text-align: right;
      flex-grow: 1;
      padding: 5px 0;
      font-size: 14px;
      @media only screen and (min-width: $s-breakpoint) {
          padding: 0;
          font-size: 16px;
      }
  }

    .navigation__item::after, .active::after {
      content: '';
      display: block;
      width: 0;
      margin-top: 6px;
      height: 3px;
      @include grad-main($start-color, $middle-color, $end-color, $fallback-color);
      transition: width .3s;
      @media only screen and (min-width: $s-breakpoint) {
          margin-top: 10px;
      }
    }

    .navigation__item:hover::after, .active::after {
      width: 100%;
    }
