.story {
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-title {
    flex-basis: 100%;
    align-self: flex-start;
    padding: 4% 0 0;

    &__title {
        font-family: 'stellarmedium', Arial, sans-serif;
        width: 66%;
        margin: 20px 0 10px;

        @media only screen and (min-width: $s-breakpoint) {
            width:44%;
        }
        @media only screen and (min-width: $m-breakpoint) {
            width:28%;
        }
    }
}

.story-about {
    flex-basis: 100%;

    &__body {
        margin: 0 0 10px;
        position: relative;
        color: $light-text;

        @media only screen and (min-width: $m-breakpoint) {
            margin: 0 0 20px;
        }
    }
}

.story-stats {
        flex-basis: 100%;

        .icon-list {
            &__item {
                width: 30%;
                text-align: center;
                padding: 0;
                @media only screen and (min-width: 620px) {
                    padding: 2% 0 0;
                }

                h3 {
                    padding: 0;
                    color: $dark-text;
                    font-family: 'stellarmedium', Arial, sans-serif;
                }

                p {
                    display: block;
                    margin: 0;
                    padding: 0;
                    color: $light-text;
                    text-transform: uppercase;
                    font-size: 8px;

                    @media only screen and (min-width: $s-breakpoint) {
                        font-size: 12px;
                    }

                    @media only screen and (min-width: 620px) {
                        font-size: 14px;
                        padding: 10px;
                    }
                }
            }
        }
  }
