//site widths
$max-site-width: 1800px;
$site-width: 1000px;
$site-width-thin: 800px;

//fonts
$base-font: Arial, sans-serif;
$base-font-size: 16px;

//font colour
$primary-color: #ffffff;
$secondary-color: #58a5c9;
$dark-text: #404040;
$light-text: #848484;

//gradients
$start-color: #feac5e;
$middle-color: #c779d0;
$end-color: #4bc0c8;
$fallback-color: #4bc0c8;

//breakpoints
$s-breakpoint: 480px;
$m-breakpoint: 768px;
$l-breakpoint: 1024px;
