@import "./reset";
@import "./variables";
@import "./gradients";
@import "./nav";
@import "./footer";

body {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    font-family: $base-font;
    color: $dark-text;
    line-height: 1.4;
}

.fixed-width {
    max-width: $site-width;
    margin: 0 auto;
}

.page-border {
    height: 10px;
    background: $fallback-color;
    background: -moz-linear-gradient(left, $start-color 0%, $middle-color 50%,$end-color 100%);
    background: -webkit-linear-gradient(left, $start-color 0%,$middle-color 50%,$end-color 100%);
    background: linear-gradient(to left, $start-color 0%,$middle-color 50%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='#4bc0c8',GradientType=0 );
}
