@import "./reset";
@import "./fonts";
@import "./variables";
@import "./gradients";
@import "./nav";
@import "./hero";
@import "./gallery";
@import "./about";
@import "./footer";

body {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    font-family: $base-font;
    color: $dark-text;
    line-height: 1.4;
}

.site-wrapper {
    max-width: $max-site-width;
    margin: 0 auto;
}

.fixed-width {
    max-width: $site-width;
    margin: 0 auto;
}

.fixed-width--thin {
    max-width: $site-width-thin;
    margin: 0 auto;
}

.page-border {
    height: 9px;
    @include grad-main($start-color, $middle-color, $end-color, $fallback-color);
}

.gradient-text {
    @include grad-text($start-color, $middle-color, $end-color, $fallback-color);
}
